<div class="block text-center">
<div class="content">

{{#if isEdit}}


    <div class="form-control">
{{input value=model.name
class="item-control"
action="validate" name='name' on="key-up"
placeholder="Name"}}
{{#if hasErrorName}}
	    <span class='help-block has-error'>Name is required</span>
	{{/if}}
</div>

 <div class="form-control">
{{input value=model.quantity
class="item-control"
action="validate" name='quantity' on="key-up"
placeholder="Quantity"}}
{{#if hasErrorQuantity}}
	    <span class='help-block has-error'>Quantity is required or is incorrect</span>
	{{/if}}
	</div>

 <div class="form-control">
{{input value=model.price
action="validate" name='price' on="key-up"
class="item-control"
placeholder="price"}}
{{#if hasErrorPrice}}
	    <span class='help-block has-error'>Price is required or is incorrect</span>
	{{/if}}
</div>
<div class="form-group text-center">

<input type = "button" class="btn btn-block btn-primary"  value="update" {{action "updateItem" model.name model.price model.quantity model.id model.shop.id}}/>
</div>




{{else}}

 <div class="form-control">
{{input value=name
name='name'
action="validate" on="key-up"
class="item-control"
placeholder="Name"}}
{{#if hasErrorName}}
	    <span class='help-block has-error'>Name is required</span>
	{{/if}}
</div>



 <div class="form-control">{{input value=quantity
name='quantity'
action="validate" on="key-up"
class="item-control"
placeholder="Quantity"}}
{{#if hasErrorQuantity}}
	    <span class='help-block has-error'>Quantity is required or is incorrect</span>
	{{/if}}
</div>


 <div class="form-control">
{{input value=price
name='price'
action="validate" on="key-up"
class="item-control"
placeholder="Price"}}
{{#if hasErrorPrice}}
	    <span class='help-block has-error'>Price is required or is incorrect</span>
	{{/if}}
</div>
	 <div class="form-group text-center">

<input type = "button" class="btn btn-block btn-primary" value="Add" {{action "createItem" name price quantity model.id}}/>
</div>


{{/if}}
</div>

</div>

